openapi: 3.1.0
info:
  title: Arda External API
  version: 1.0.0
  description: |
    Read-only external API surface of the Arda data platform (v1).

    Conventions (authoritative doc: docs/30-design/arda_data_180_api_v1.md):
    - Auth: every request carries an API key in the `x-arda-api-key` header.
      The key binds the workspace scope (never caller-selectable) and carries
      the scopes gating each endpoint (fail-closed).
    - Entitlement: the key's workspace must hold an active arda entitlement,
      standalone or bundled; otherwise 403 `entitlement_required`.
    - Errors: every non-2xx response is an RFC 9457 `application/problem+json`
      body whose `code` field is the stable machine-readable identifier.
    - Pagination: cursor-based. Pass `limit` (1-100, default 20) and the
      `nextCursor` returned by the previous page as `cursor`. `nextCursor` is
      null on the last page. Cursor tokens are opaque.
    - Rate limit: per key, fixed window per minute (default 120). Exceeding it
      returns 429 with `Retry-After`.
    - Idempotency: every POST accepts an optional `Idempotency-Key` header
      (printable ASCII, 1-180 chars, unique per workspace per operation).
      Retrying with the same key returns the originally created resource with
      200 and `idempotency-replayed: true` instead of creating a duplicate;
      reusing a key for a different operation is a 409 `idempotency_conflict`.
    - Entitlement note: writes ride the same data-access gate as reads
      (standalone subscription OR bundled agent plan); the product-UI
      capability matrix does not apply to this surface.
    - Versioning: v1 evolves additively only (new optional fields, new
      endpoints). Breaking changes open /api/v2.
servers:
  - url: https://arda.vxture.com
    description: Production
  - url: https://beta-arda.vxture.com
    description: Beta
security:
  - apiKey: []
  - s2sBearer: []
tags:
  - name: catalog
    description: Dataset catalog (workspace assets + read-only platform reference overlay)
  - name: quality
    description: Data-quality rules and check runs
  - name: lineage
    description: Curated dataset-level lineage

paths:
  /api/v1/datasets:
    get:
      operationId: listDatasets
      tags: [catalog]
      summary: List datasets
      description: >
        Datasets visible to the key's workspace: its own assets plus
        platform-global reference assets (scope=platform, read-only overlay).
        Required scope: `catalog:read`.
      parameters:
        - name: q
          in: query
          description: Case-insensitive substring match on name or code.
          schema: { type: string, minLength: 1, maxLength: 200 }
        - name: domain
          in: query
          schema: { type: string, minLength: 1, maxLength: 120 }
        - name: classification
          in: query
          schema: { $ref: "#/components/schemas/AssetLevel" }
        - name: type
          in: query
          description: Dataset type (table | view | file | stream).
          schema: { type: string, minLength: 1, maxLength: 60 }
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: One page of datasets.
          content:
            application/json:
              schema:
                type: object
                required: [data, nextCursor]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DatasetSummary" }
                  nextCursor:
                    type: [string, "null"]
        default: { $ref: "#/components/responses/Problem" }

    post:
      operationId: createDataset
      tags: [catalog]
      summary: Register a dataset produced by the calling agent
      description: >
        Catalogs a dataset in the key's workspace. Provenance is taken from
        the credential: `ownerApp` is set to the key's `consumerApp`, never
        from the body. Subject to the workspace dataset quota. Required
        scope: `catalog:write`.
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DatasetCreate" }
      responses:
        "201":
          description: Created. `Location` points at the new dataset.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DatasetSummary" }
        "200":
          description: Idempotent replay of a previous creation (`idempotency-replayed: true`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DatasetSummary" }
        default: { $ref: "#/components/responses/Problem" }

  /api/v1/datasets/{id}:
    get:
      operationId: getDataset
      tags: [catalog]
      summary: Get dataset detail
      description: >
        Full asset profile: base fields plus source, tags, standards, linked
        services, derived quality summary and lineage degree. Required scope:
        `catalog:read`.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: The dataset.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DatasetDetail" }
        default: { $ref: "#/components/responses/Problem" }

  /api/v1/quality-rules:
    get:
      operationId: listQualityRules
      tags: [quality]
      summary: List quality rules
      description: Required scope `quality:read`. Tenant data only (no platform overlay).
      parameters:
        - name: datasetId
          in: query
          schema: { type: string }
        - name: enabled
          in: query
          schema: { type: string, enum: ["true", "false"] }
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: One page of quality rules.
          content:
            application/json:
              schema:
                type: object
                required: [data, nextCursor]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/QualityRuleSummary" }
                  nextCursor:
                    type: [string, "null"]
        default: { $ref: "#/components/responses/Problem" }

  /api/v1/quality-results:
    get:
      operationId: listQualityResults
      tags: [quality]
      summary: List quality check runs (newest first)
      description: Required scope `quality:read`. Tenant data only.
      parameters:
        - name: datasetId
          in: query
          schema: { type: string }
        - name: ruleId
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [pass, warn, fail] }
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: One page of quality results.
          content:
            application/json:
              schema:
                type: object
                required: [data, nextCursor]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/QualityResultSummary" }
                  nextCursor:
                    type: [string, "null"]
        default: { $ref: "#/components/responses/Problem" }

  /api/v1/lineage:
    get:
      operationId: getLineage
      tags: [lineage]
      summary: Get the curated dataset-level lineage graph
      description: >
        Raw edge list plus a dataset name map for the key's workspace.
        Optional `datasetId` narrows to edges touching that dataset (404 when
        it is not visible to the workspace). At most 500 edges are returned;
        `truncated: true` reports the cap was hit. Required scope:
        `lineage:read`.
      parameters:
        - name: datasetId
          in: query
          schema: { type: string }
      responses:
        "200":
          description: The lineage graph.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LineageGraph" }
        default: { $ref: "#/components/responses/Problem" }
    post:
      operationId: createLineageEdge
      tags: [lineage]
      summary: Record a curated lineage edge
      description: >
        Declares upstream -> downstream between two tenant-owned datasets of
        the key's workspace. Duplicate edges are 409 `duplicate_edge`; edges
        that would close a cycle are 409 `cycle_detected` (lineage is a DAG).
        Required scope: `lineage:write`.
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LineageEdgeCreate" }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LineageEdge" }
        "200":
          description: Idempotent replay (`idempotency-replayed: true`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LineageEdge" }
        default: { $ref: "#/components/responses/Problem" }

  /api/v1/access-requests:
    post:
      operationId: createAccessRequest
      tags: [catalog]
      summary: Submit a data access / sharing request
      description: >
        Files an access request for a tenant-owned dataset; it lands in the
        workspace admin approval center as `pending`. Decisions are made by
        humans in the product UI. Required scope: `access:write`.
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AccessRequestCreate" }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccessRequest" }
        "200":
          description: Idempotent replay (`idempotency-replayed: true`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccessRequest" }
        default: { $ref: "#/components/responses/Problem" }

components:
  securitySchemes:
    s2sBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Platform token-exchange bearer (product_210, aud=arda, 300s TTL,
        scope tool:arda). arda additionally enforces an act.sub allow-list;
        allow-listed callers get the full /api/v1 surface (operation authz
        is arda's own model, not token scope).
    apiKey:
      type: apiKey
      in: header
      name: x-arda-api-key
      description: >
        Workspace-bound API key minted by a workspace admin. Only the sha256
        hash is stored server-side. Scopes on the key gate each endpoint:
        catalog:read, catalog:write, quality:read, lineage:read,
        lineage:write, access:write.

  parameters:
    limit:
      name: limit
      in: query
      description: Page size, 1-100 (default 20). Out-of-range values fall back to the default.
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    cursor:
      name: cursor
      in: query
      description: Opaque cursor from the previous page's `nextCursor`.
      schema: { type: string }
    idempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: >
        Client-chosen replay guard for this operation (printable ASCII,
        1-180 chars). Scoped per workspace per operation.
      schema: { type: string, minLength: 1, maxLength: 180 }

  responses:
    Problem:
      description: >
        Error (RFC 9457). Stable `code` values include: missing_api_key,
        invalid_api_key (401); insufficient_scope, entitlement_required,
        quota_exceeded (403); not_found (404); workspace_wiped (410);
        invalid_parameter, invalid_cursor, invalid_body,
        invalid_idempotency_key (400); duplicate_code, duplicate_edge,
        cycle_detected, idempotency_conflict (409); rate_limited (429, with
        Retry-After header).
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

  schemas:
    Problem:
      type: object
      required: [type, title, status, code]
      properties:
        type: { type: string, description: "Problem identifier URI (not necessarily resolvable)." }
        title: { type: string }
        status: { type: integer }
        code: { type: string, description: "Stable machine-readable snake_case error code." }
        detail: { type: string }

    AssetLevel:
      type: string
      enum: [public, internal, sensitive, core]
      description: Classification level; travels with the data (data-170 2.3).

    DatasetSummary:
      type: object
      required:
        [id, code, name, description, domain, team, type, classification, scope,
         ownerApp, ownerUserId, goldenRecord, rowCountEst, sizeBytes,
         refreshFreq, createdAt, updatedAt]
      properties:
        id: { type: string }
        code: { type: string, description: "Technical slug, unique per workspace." }
        name: { type: string }
        description: { type: [string, "null"] }
        domain: { type: [string, "null"] }
        team: { type: [string, "null"] }
        type: { type: string, description: "table | view | file | stream" }
        classification: { $ref: "#/components/schemas/AssetLevel" }
        scope:
          type: string
          enum: [workspace, platform]
          description: platform = read-only global reference asset.
        ownerApp:
          type: [string, "null"]
          description: Producing agent/app within the workspace (provenance).
        ownerUserId: { type: [string, "null"] }
        goldenRecord: { type: boolean }
        rowCountEst: { type: [number, "null"] }
        sizeBytes: { type: [number, "null"] }
        refreshFreq: { type: [string, "null"], description: "realtime | daily | weekly | monthly" }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    DatasetDetail:
      allOf:
        - $ref: "#/components/schemas/DatasetSummary"
        - type: object
          required: [location, source, tags, standards, services, quality, lineage]
          properties:
            location: { type: [string, "null"] }
            source:
              type: [object, "null"]
              required: [id, name, type, lastSyncedAt]
              properties:
                id: { type: string }
                name: { type: string }
                type: { type: string }
                lastSyncedAt: { type: [string, "null"], format: date-time }
            tags:
              type: array
              items:
                type: object
                required: [id, name]
                properties:
                  id: { type: string }
                  name: { type: string }
            standards:
              type: array
              items:
                type: object
                required: [id, code, name]
                properties:
                  id: { type: string }
                  code: { type: string }
                  name: { type: string }
            services:
              type: array
              items:
                type: object
                required: [id, code, name]
                properties:
                  id: { type: string }
                  code: { type: string }
                  name: { type: string }
            quality:
              type: object
              description: Derived at read time from the latest run of each enabled rule; never stored.
              required: [score, rules, pass, warn, fail, lastRunAt]
              properties:
                score: { type: [number, "null"] }
                rules: { type: integer }
                pass: { type: integer }
                warn: { type: integer }
                fail: { type: integer }
                lastRunAt: { type: [string, "null"], format: date-time }
            lineage:
              type: object
              required: [upstream, downstream]
              properties:
                upstream: { type: integer }
                downstream: { type: integer }

    DatasetCreate:
      type: object
      additionalProperties: false
      required: [code, name, type]
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 120
          pattern: "^[\\x21-\\x7e]+$"
          description: Technical slug, unique per workspace (printable ASCII, no spaces).
        name: { type: string, minLength: 1, maxLength: 200 }
        description: { type: string, minLength: 1, maxLength: 2000 }
        domain: { type: string, minLength: 1, maxLength: 120 }
        team: { type: string, minLength: 1, maxLength: 120 }
        type: { type: string, enum: [table, view, file, stream] }
        location: { type: string, minLength: 1, maxLength: 500 }
        classification:
          allOf: [{ $ref: "#/components/schemas/AssetLevel" }]
          default: internal
        refreshFreq: { type: string, enum: [realtime, daily, weekly, monthly] }
        rowCountEst: { type: integer, minimum: 0 }
        sizeBytes: { type: integer, minimum: 0 }

    LineageEdgeCreate:
      type: object
      additionalProperties: false
      required: [upstreamDatasetId, downstreamDatasetId]
      properties:
        upstreamDatasetId: { type: string }
        downstreamDatasetId: { type: string }
        transform: { type: string, minLength: 1, maxLength: 500 }
        jobId: { type: string, minLength: 1, maxLength: 120 }

    LineageEdge:
      type: object
      required: [id, upstreamDatasetId, downstreamDatasetId, transform, jobId]
      properties:
        id: { type: string }
        upstreamDatasetId: { type: string }
        downstreamDatasetId: { type: string }
        transform: { type: [string, "null"] }
        jobId: { type: [string, "null"] }

    AccessRequestCreate:
      type: object
      additionalProperties: false
      required: [datasetId, useCase, justification]
      properties:
        datasetId: { type: string }
        useCase: { type: string, minLength: 1, maxLength: 200 }
        justification: { type: string, minLength: 1, maxLength: 1000 }
        scope: { type: string, minLength: 1, maxLength: 200 }
        duration: { type: string, minLength: 1, maxLength: 120 }
        method: { type: string, minLength: 1, maxLength: 120 }

    AccessRequest:
      type: object
      required:
        [id, datasetId, requesterSub, requesterName, useCase, scope,
         justification, duration, method, status, createdAt]
      properties:
        id: { type: string }
        datasetId: { type: [string, "null"] }
        requesterSub: { type: string, description: "apikey:<consumerApp|name> for API callers." }
        requesterName: { type: [string, "null"] }
        useCase: { type: string }
        scope: { type: [string, "null"] }
        justification: { type: string }
        duration: { type: [string, "null"] }
        method: { type: [string, "null"] }
        status: { type: string, description: "pending | approved | rejected | cancelled" }
        createdAt: { type: string, format: date-time }

    QualityRuleSummary:
      type: object
      required: [id, code, name, datasetId, datasetName, dimension, type, severity, enabled]
      properties:
        id: { type: string }
        code: { type: string }
        name: { type: string }
        datasetId: { type: string }
        datasetName: { type: string }
        dimension: { type: string, description: "completeness | accuracy | validity | uniqueness | timeliness | consistency" }
        type: { type: string, description: "not_null | unique | range | freshness | ..." }
        severity: { type: string }
        enabled: { type: boolean }

    QualityResultSummary:
      type: object
      required: [id, ruleId, datasetId, runAt, status, score, issues]
      properties:
        id: { type: string }
        ruleId: { type: string }
        datasetId: { type: string }
        runAt: { type: string, format: date-time }
        status: { type: string, enum: [pass, warn, fail] }
        score: { type: [number, "null"], description: "Pass rate percentage." }
        issues: { type: integer }

    LineageGraph:
      type: object
      required: [edges, datasets, truncated]
      properties:
        edges:
          type: array
          items:
            type: object
            required: [id, upstreamDatasetId, downstreamDatasetId, transform, jobId]
            properties:
              id: { type: string }
              upstreamDatasetId: { type: string }
              downstreamDatasetId: { type: string }
              transform: { type: [string, "null"] }
              jobId: { type: [string, "null"] }
        datasets:
          type: array
          description: Name map for every dataset id referenced by the edges.
          items:
            type: object
            required: [id, code, name]
            properties:
              id: { type: string }
              code: { type: string }
              name: { type: string }
        truncated:
          type: boolean
          description: True when the 500-edge cap was hit (never silent).
